table {
    width: 90%;
    border-top: 1px solid #e5eff8;
    border-right: 1px solid #e5eff8;
    margin: 1em auto;
    border-collapse: collapse;
}

td {
    color: #678197;
    border-bottom: 1px solid #e5eff8;
    border-left: 1px solid #e5eff8;
    padding: .3em 1em;
    text-align: center;
}

tr.odd td {
    background: #f7fbff;
}

thead th {
    background: $f4f9fe;
    text-align: center;
    color: #66a3d3;
    border-left: 1px solid #e5eff8;
    border-bottom: 1px solid #e5eff8;
}

.text-center {
    text-align: center;
}

a.no-deco {
    text-decoration: none;
}

a#header {
    color: #8FC73E;
}

input {
    width: 40px;
    margin-right: 40px;
}
