{% extends "base.html" %}
{% block messages %} {% endblock %}
{% block stats %}
    <div class="grid_16" id="stats">
        <div class="grid_3 alpha">Your BMI : {{ bmi }}</div>
        <div class="grid_3">Days left : {{ days_left }}</div>
        <div class="grid_3">Weight loss left ({{ units }}): {{ weight_left }}</div>
        <div class="grid_3">Required rate ({{ units }}/day): {{ req_rate }}</div>
        <div class="grid_4 omega">Current rate ({{ units }}/day): {{ cur_rate }}</div>
    </div>
{% endblock %}
{% block content %}
        <div class="grid_6">
            <div class="grid_6 bot-margin top-margin-8">
                <form method = "post" action = ".">
                    <div class="grid_1 alpha">{{ tracker_form.date.label }}</div>
                    <div class="grid_2">{{ tracker_form.date }}</div>
                    <div class="grid_1">{{ tracker_form.weight.label }}</div>
                    <div class="grid_1">{{ tracker_form.weight }}</div>
                    <div class="grid_1 omega"><input type="submit" value="Go" /></div>
                </form>
            </div>
            <table width="100%" id="data-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight ({{ units }})</th>
                        <th>Loss</th>
                        <th>Avg.</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% if today %}
                        <tr class="even">
                            <td>{{ today|date:"d M Y" }} <input type="hidden" value="{{ today }}" /></td>
                            <td class="weight-input"><input type="text" /></td>
                            <td id="loss-{{ today }}">N/A</td>
                            <td id="avg-{{ today }}">N/A</td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endif %}
                    {% for entry in data %}
                    <tr class="{% cycle 'even' 'odd' %}">
                            <td>{{ entry.date|date:"d M Y" }} <input type="hidden" value="{{ entry.date }}" /></td>
                            <td class="weight-input">{{ entry.weight }}</td>
                            <td id="loss-{{ entry.date }}"></td>
                            <td id="avg-{{ entry.date }}"></td>
                            <td><a href="#"><img src="/static/images/delete.png" alt="Delete" class="delete-entry" /></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="grid_10">
            <div id="placeholder"><img src="/static/images/loading.gif" alt="Loading" /></div>
        </div>
        <div class="clear"></div>
{% endblock %}
