{% extends "base.html" %}
{% block content %}
        <div class="grid_6">
            <div><a href="#" id="add_prev_date" class="no-deco"><img alt="Add data" src="/static/images/add.png" /> Add data for previous date.</a></div>
            <table width="100%" id="data-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight (in kgs)</th>
                        <th>Difference</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    {% if today %}
                        <tr class="even">
                            <td>{{ today }}</td>
                            <td class="weight-input"><input type="text" /></td>
                            <td id="loss-{{ today }}">N/A</td>
                            <td id="avg-{{ today }}">N/A</td>
                        </tr>
                    {% endif %}
                    {% for entry in data %}
                    <tr class="{% cycle 'even' 'odd' %}">
                            <td>{{ entry.date }}</td>
                            <td class="weight-input">{{ entry.weight }}</td>
                            <td id="loss-{{ entry.date }}"></td>
                            <td id="avg-{{ entry.date }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="grid_10">
            <div id="placeholder" style="width:600px;height:300px;"></div>
        </div>
        <div class="clear"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}
