{% extends "base.html" %}
{% block stats %} {% endblock %}

{% block content %}
<div class="grid_16">
    {% if msg %}
        <div class="grid_16 text-center">
            <div class="grid_3 alpha">&nbsp;</div>
            <div id="msg" class="grid_10 msg">
                {% ifequal msg 3 %}
                    Settings saved succesfully. You can now go and start <a href="/">entering your weight</a>.
                {% else %}
                    {{ msg }}
                {% endifequal %}
            </div>
            <div class="grid_3 omega">&nbsp;</div>
        </div>
    {% endif %}
        
<form method="post" action="/settings/">
    <div class="grid_2 alpha spacer">
        <div>{{ form.units.label }}</div>
        <div>{{ form.target_weight.label }}</div>
        <div>{{ form.target_date.label }}</div>
        <div>{{ form.height.label }} (in cms)</div>
        <div><input type="submit" value="Submit" /></div>
    </div>
    <div class="grid_1 spacer">
        <div>:</div>
        <div>:</div>
        <div>:</div>
        <div>:</div>
    </div>
    <div class="grid_3 spacer">
        <div>{{ form.units }}</div>
        <div>{{ form.target_weight }}</div>
        <div>{{ form.target_date }}</div>
        <div>{{ form.height }}</div>
    </div>
    <div class="grid_10 omega spacer">
        <div {% if form.units.errors %}class="failure"{% endif %}>{% for error in form.units.errors %} {{ error|escape }} {% endfor %} &nbsp;</div>
        <div {% if form.target_weight.errors %}class="failure"{% endif %}>{% for error in form.target_weight.errors %} {{ error|escape }} {% endfor %} &nbsp;</div>
        <div {% if form.target_date.errors %}class="failure"{% endif %}>{% for error in form.target_date.errors %} {{ error|escape }} {% endfor %} &nbsp;</div>
        <div {% if form.height.errors %}class="failure"{% endif %}>{% for error in form.height.errors %} {{ error|escape }} {% endfor %} &nbsp;</div>
    </div>
</form>
</div>
{% endblock %}
