{% extends "base.html" %}
{% block stats %} {% endblock %}

{% block content %}
<div class="grid_16">
    {% if msg %}
        <div class="grid_16 text-center">
            <div class="grid_3 alpha">&nbsp;</div>
            <div id="msg" class="grid_10 msg">{{ msg }}</div>
            <div class="grid_3 omega">&nbsp;</div>
        </div>
    {% endif %}
<form method="post" action="/settings/">
    <div class="grid_2 alpha spacer">
        <div>{{ form.units.label }}</div>
        <div>{{ form.target_weight.label }}</div>
        <div>{{ form.target_date.label }}</div>
        <div>{{ form.height.label }} (in cms)</div>
        <div><input type="submit" value="Submit" /></div>
    </div>
    <div class="grid_1 spacer">
        <div>:</div>
        <div>:</div>
        <div>:</div>
        <div>:</div>
    </div>
    <div class="grid_13 omega spacer">
        <div>{{ form.units }}</div>
        <div>{{ form.target_weight }}</div>
        <div>{{ form.target_date }}</div>
        <div>{{ form.height }}</div>
    </div>
</form>
</div>
{% endblock %}
